* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}
:root{
    --button : #1d1b67;
    --cyan: #46ccde;
    --txt: #778896;
    --headings:#1d1b67;
    --darker-text:#425466;
    --headings-2:#3b60bf;
    --headings-3:#005661;
    --section-2:#cdf9ff;

}
@media (max-width: 2600px) {
    nav,.window-nav,ul, .col-1,.section-1, .col-1, .col-2, .col-1-container, .shield-text, .section-2, .profile-icons, .contained,footer{
        display: flex;
    }
    nav,.window-nav,.section-2,.half-1, .section-3-container, footer{
        justify-content: space-between;
    }
    nav,ul,.col-1, .col-2, .shield-text,  footer{
        align-items: center;
    }
    nav, .section-1, .section-3, .section-3-container, footer{
        margin: auto;
    }
    header{
        width: 100vw;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    nav {
        width: 80vw;
        font-size: 20px;
        margin-top: 40px;
    }
    .window-nav{
        flex: 1;
    }
    .menu{
        display: none;
    }
    li{
        list-style-type: none;
        color: var(--txt);
        font-weight: bold;
    }
    li a{
        color: var(--darker-text);
    }
    a{
        text-decoration: none;
    }
    button a{
        color: #fff;
    }
    nav img{
        width: 35px;
        margin-right: 65px;
    }
    ul li:nth-child(2) {
        margin-left: 25px;
    }
    ul li:nth-child(3) {
        display: none;
    }
    button {
        padding: 20px ;
        color: white;
        background-color: #1d1b67;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
    }
    section{
        width: 100vw;
    }
    .col-1{
        flex:1;
        justify-content: center;
        font-size: 18px;
        padding:180px 0 100px 0;
    }
    .col-1-container{
        width: 68%;
        color: var(--darker-text);
        flex-direction: column;
        row-gap: 20px;
    }
    .col-1-container p:nth-of-type(1){
        line-height: 28px;
    }
    .p-text{
        display: inline-block;
        margin-left: 20px;
    }
    h1{
        font-size: 57px;
        color: var(--headings);
    }
    .shield{
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url(./images/Shield.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .shield-text{
        align-items: flex-start;
    }
    .shield,.shield-text p{
        margin-right: 10px;
    }
    .shield-text p{
        display: inline-block;
    }
    .shield-text a{
        color: var(--darker-text);
        font-weight: 700;
        text-decoration: none;
        border-bottom: 2px solid;
        margin-left: 5px;
    }
    .col-2{
        flex:1;
        background-color: var(--cyan);
        justify-content: center;
        padding: 180px 0 100px 0;
    }
    .col-2 img{
        width: 650px;
        max-width: 85%;
    }
    .section-2{
        width: 82vw;
        font-size: 18px;
        color: var(--darker-text);
        margin: 90px auto;
    }
    .half-1,.half-2{
        width: 520px;
    }
    .half-1 h2{
        font-size: 35px;
        color: var(--headings);
    }
    .profile-icons{
        column-gap: 20px;
        margin-top: 40px;
    }
    .half-2 p{
        line-height: 28px;
    }
    .half-2 p:nth-child(1){
        margin-bottom: 30px;
    }
    .profile-icons img{
        width: 45px;
    }
    .section-3{
        background-color: var(--section-2);
    }
    .section-3-container{
        display: grid;
        font-size: 18px;
        width: 82vw;
        color: var(--darker-text);
        grid-template-columns: 42% 42%;
        padding: 70px 0;
    }
    .contained{
        row-gap: 20px;
        flex-direction: column;
    }
    .contained p{
        line-height: 30px;
    }
    .section-3 h5{
        font-size: 20px;
        color: var(--headings-2);

        margin-bottom: -7px;
    }
    .section-3 h2{
        font-size: 35px;
        color: var(--headings-3);
    }
    i{
        margin-left: 5px;
    }
    .contained p:nth-of-type(2){
        margin-top: 30px;
    }
    footer{
        width: 82vw;
        padding: 90px 0 80px;
    }
    .footer-1 img{
        margin:0 0 30px 10px;
    }
    .substitute{
        display: none;
    }
    th{
        width: 170px;
        font-size: 20px;
        text-align: left;
        padding: 10px;
    }
    td{
        font-size:18px ;
        padding: 7px;
        font-weight: 400;
        color: var(--darker-text);
    }
    td a{
        color: var(--darker-text);
    }
    .footer-2{
        height: max-content;
        margin-bottom: -50px;
    }
    .footer-2 h5{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .email{
        border: 1.5px solid var(--darker-text);
        padding: 5px 4px 4.5px;
        border-radius: 5px;
    }
    .email input{
        font-size: 18px;
        padding: 20px;
        width: 200px;
        border: none;
        outline: none;
    }
    .email button{
        padding: 20px;
    }

}
@media(max-width:1300px){
    .section-2, .section-3-container, footer{
        width: 87vw;
    }
    .section-3-container{
        grid-template-columns: 44% 44%;
    }
}
@media(max-width: 1200px){
    .section-1 h1{
        font-size: 50px;
    }
    .section-2{
        flex-direction: column;
    }
    .half-1, .half-2{
        width: 100%;
    }
    .half-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 50px;
    }
    .profile-icons{
        width: 42%;
        margin-top: 0;
        flex-wrap: wrap;
    }
    .half-1 h2{
        width: 50%;
    }
    .profile-icons img{
        margin-top: 10px;
    }
    .section-2 h2, .section-3 h2{
        font-size: 33px;
    }
}
@media(max-width: 1130px){
    .footer-1 th{
        width: 140px;
    }

}
@media(max-width: 1100px){
    .col-1-container h1{
        font-size: 45px;
    }
    footer{
        flex-direction: column;
        row-gap: 50px;
        align-items: flex-start;
        row-gap: 90px;
        margin-bottom: 50px;
    }
    .footer-1{
        text-align: left;
    }
    .footer-1 th{
        width: 170px;
    }
    .section-2 h2, .section-3 h2{
        font-size: 30px;
    }
}
@media(max-width:1000px){
    .col-2{
        flex: 1.1;
    }
    .col-1{
        flex: 0.9;
    }
    .col-1-container{
        width: 80%;
    }
    .col-1-container h1{
        font-size: 37px;
    }
    .section-3-container{
        display: flex;
        flex-direction: column;
        row-gap: 70px;
    }
}
@media(max-width:860px){
    nav{
        width: 90vw;
    }
    nav img{
        margin-right: 45px;
    }
    .col-1-container button{
        margin-bottom: 30px;
    }
}
@media(max-width:700px){
    header{
        position: fixed;
        top: 0;
        background-color: white;
    }
    nav{
        position: relative;
        margin-bottom: 20px;
    }
    .window-nav{
        position: fixed;
        width: 100vw;
        height: 0vh;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: var(--darker-text);
        transition: height .2s ease, opacity .2s ease, visibility .2s ease;
        opacity: 0;
        visibility: hidden;
    }
    .window-nav ul li{
        opacity: 0;
        color: white;
        font-weight: normal;
    }
    li a{
        color: #fff;
    }
    .nav{
        visibility: visible;
        opacity: 0.85;
        height: 100vh;
    }
    @keyframes animate {
        0%{
            opacity: 0;
            transform: translate3d(-25%, 0, 0);
        }
        100%{
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    .nav ul li{
        animation: animate .3s ease forwards;
    }
    .nav ul li:nth-child(1){
        animation-delay: .23s;
    }
    .nav ul li:nth-child(2){
        animation-delay: .26s;
    }
    .nav ul li:nth-child(3){
        animation-delay: .32s;
    }
    ul{
        width: max-content;
        display: block;
        text-align: center;
        margin: auto;
        color: white;
        font-size: 22px;
    }
    
    ul li:nth-of-type(1), ul li:nth-of-type(2), ul li:nth-of-type(3){
        margin: 0 0  35px;
    }
    ul li:nth-child(3) {
        display: block;
    }
    nav button{
        display: none;
    }
    .menu{
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        transition: 0.2s ease;
    }
    .line{
        position: absolute;
        width: 30px;
        height:4px ;
        background-color: black;
        transition:transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
    .line:nth-of-type(1){
        top: 0;
    }
    .line:nth-of-type(2){
        top: 10px;
    }
    .line:nth-of-type(3){
        top: 10px;
    }
    .line:nth-of-type(4){
        top: 20px;
    }
    .active .line:nth-of-type(1),.active .line:nth-of-type(4){
        opacity: 0;
    }
    .active .line:nth-of-type(2){
        background-color: white;
        transform: rotate(45deg);
    }
    .active .line:nth-of-type(3){
        background-color: white;
        transform: rotate(-45deg);
    }
    .section-1{
        flex-direction: column;
        position: relative;
        top: 80px;
    }
    .col-1,.col-2{
        padding: 40px 0;
    }
    .col-1-container{
        width: 90%;
    }
    .half-1{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .half-1 h2, .profile-icons{
        width: 100%;
    }
    .profile-icons{
        column-gap: 10px;
        margin-top: 45px;
    }
    .profile-icons img{
        width: 50px;
    }
    .section-3-container{
        padding: 50px 0;
    }

}
@media(max-width: 499px){
    td:nth-child(3), td:nth-child(6),td:nth-child(9) , th:nth-child(3) {
        display: none;
    }
    .substitute{
        width: 82vw;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 18px;
        margin: 20px auto 0;
    }
    .substitute h5{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .substitute p{
        font-size: 18px;
        font-weight: 500;
        color: var(--darker-text);
        opacity: 0.9;
    }
    .footer-2{
        width: 87vw;
    }
    .email{
        width: max-content;
    }
    .email input{
        width: 40vw;
    }
    .email button{
        width:175px;  
        padding: 20px 0;
    }
}
@media(max-width: 400px){
    .email{
        display: flex;
        flex-direction: column;
        border: none;
    }
    .email input{
        border: 1px solid black;
        margin-bottom: 15px;
        border-radius: 5px;
    }
    .email input, .email button{
        width: 250px;
        font-size: 18px;
    }
}